
.demo-container {
    text-align: center;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 40vh;
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwall.alphacoders.com%2Ftag%2Fmount-olympus-wallpapers&psig=AOvVaw3eY4HDDHiYAN0iyiPcF8iO&ust=1654188135400000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCMia36HZjPgCFQAAAAAdAAAAABAD');

}
.demo-display {
    display: flex;
    gap: 0px;
}
.demo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row {
    display:flex;
}   
