
.demo-container {
    text-align: center;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 40vh;
    
}
.demo-display {
    display: flex;
    gap: 0px;
}
.demo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row {
    display:flex;
}       

.demo-instructions {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1.7rem;
    /* font-weight: bold; */
    font-size: 1.50rem ;
}

.info{
    color:rgb(30, 30, 30) !important; 
}