#video{
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: -1;
}

.main{
    height: 100vh;
    width: 100%;
    object-fit: contain;
}

.main .content{
    text-align: center;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 40vh;
} 

.main .content h1{
    font-size: 4rem;
}
/*Uppercase is a style choice */
.main p {
    font-size: 1.8rem;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    color: black;
}

.main .btn {
    margin: 1rem .2rem;
}
.btn{
    color:black
}

@media screen and (max-width:640px) {
    .content h1 {
        font-size: 3rem;
    }

    .content p {
        font-size: 1.4rem;
        margin-bottom: 1.6rem;
    }
}
