body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
}

h3 {
  margin-bottom: 20px;
}

.QuizDisplay {
  background-color: white;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50vh;
  height: 87vh;
}

/* .QuestionBox {
  position: relative;
  height: 75%;
  width: 75%;
} */

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px black;
  background-color: white;
  transform-style: preserve-3d;
  height: 275px;
  width: 540px;
  transition: 150ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0));
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front,
.card .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}

.inputIDE {
  position: center;
  border: 1px solid black;
  height: 300px;
  width: 540px;
}
